@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-800: var(--primary-800);
  --color-primary-800-foreground: var(--primary-800-foreground);
  --color-primary-900: var(--primary-900);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply bg-white text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply leading-[130%] tracking-[-0.02em];
  }
  h1 {
    @apply text-[28px] sm:text-[36px] md:text-[48px] lg:text-[60px] font-bold text-primary;
  }
  h2 {
    @apply text-[24px] sm:text-[30px] md:text-[36px] lg:text-[40px] font-semibold text-primary-800;
  }
  h3 {
    @apply text-[22px] sm:text-[24px] md:text-[30px] font-semibold text-gray-900;
  }
  p {
    @apply text-[16px] lg:text-[18px] leading-[150%] text-gray-700 ;
  }
}

@layer components {
  .containerBloc {
    @apply max-w-[1162px] mx-auto px-7;
  }
  .component {
    @apply max-w-[1162px] mx-auto px-7 py-10 sm:py-14 md:py-16 lg:py-20 min-[1124px]:py-24 transition-all duration-150 ease-linear;
  }
  .header-component {
    @apply flex flex-col gap-4 sm:gap-5 md:gap-6 lg:gap-7 items-center max-w-[918px];
  }
  .title-description {
    @apply flex flex-col gap-4 sm:gap-5 md:gap-6 lg:gap-7;
  }
  .first-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "photo1 photo2 photo2 photo3"
    "photo4 photo2 photo2 photo5";
  gap: 22px;
}
.second-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "item1 item2 item5 item5"
    "item3 item4 item5 item5";
  gap: 22px;
}

.first-gallery > .photo1 { grid-area: photo1; }
.first-gallery > .photo2 { grid-area: photo2; }
.first-gallery > .photo3 { grid-area: photo3; }
.first-gallery > .photo4 { grid-area: photo4; }
.first-gallery > .photo5 { grid-area: photo5; }

.second-gallery > .item1 { grid-area: item1; }
.second-gallery > .item2 { grid-area: item2; }
.second-gallery > .item3 { grid-area: item3; }
.second-gallery > .item4 { grid-area: item4; }
.second-gallery > .item5 { grid-area: item5; }

@media (max-width: 640px) {
  .first-gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo1"
      "photo3"
      "photo2"
      "photo4"
      "photo5";
  }
  .second-gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "item1"
      "item3"
      "item2"
      "item4"
      "item5";
  }
}

}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.3909 0.1236 259.49);
  --primary-foreground: oklch(0.985 0 0);
  --primary-800: oklch(0.3085 0.0933 259.13);
  --primary-800-foreground: oklch(0.985 0 0);
  --primary-900: oklch(0.2615 0.075 259.56);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slide-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes crumble-away {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateY(-50px);
    filter: blur(5px);
  }
}

.animate-slide-down {
  animation: slide-down 0.5s forwards;
}

.animate-crumble-away {
  animation: crumble-away 1s forwards;
}

